<!DOCTYPE html>  
<html>  
<head>
<style>
body {
  background-color : #ebf8ff !important;
}
  header {
  background-color: #2c5282;
  padding: 15px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
</style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title>HOME</title> 

</head>
<body bgcolor="#ebf8ff">
<header>
  <h2>Gallery</h2>
</header>
    <br>
	<center>
		<form action = "/savedetails" method = "post" enctype="multipart/form-data">
    <table>
        <input type="file" name="file" />
        <input type = "submit" value="Upload">  
    </table>  
    </form> 
	</center>  
<br>
<div class="row">
{% for row in rows %}
    <div class="col-sm-4">

        <img src="/{{row['imgname']}}"  class="card-img-top" alt="...">

    <center><h5 >{{row["imgname"]}}</h5></center>
    </div>
{% endfor %}
<br>
</div>
  

</body>  
</html> 